@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
header{
  background-color:rgb(154, 201, 59);
  border:rgb(154, 201, 59);
  border-style:initial;
  padding-top: 0,25px;
  padding-bottom: 0px;
  border-radius: 0px;
  display: flex;
align-items: center;
justify-content: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
  
  h1 {
    text-align:center;
    color: rgb(95, 25, 194);
    font-family: 'Aboreto', cursive;
     font-size: 39px;  
     display: flex;
     justify-content: center;
     align-items: center;
     height: 5px;

  
   
  }
  .titulo{
    background-color: #3e228b;
    text-align: center;
    color: #9cc6e8;
    font-family:'PT Mono', monospace;

  }
  body {
    background-color: #4b2f97;
}
  form {
    width: 500px;
    margin: 0 auto; 
    background-color: rgb(154, 201, 59);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #4b138b;
  }
  .botaoEnviar:hover{
    background: rgb(27, 113, 183); 
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #217fcd;
    color: white;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #4682B4;
  }
  
  .card-silhouette {
    width: 500px;
    height: 300px;
    margin: auto;
    background-image: url('./nova.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  